{% extends "layout.html" %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <h1>Cite-Controller
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5Zm4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5Zm-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Z"/>
        </svg>
      </h1>
      <p>
        Welcome to the supreme citation manager. Here you will be able to fill in forms for various different source types such as books, articles and so forth. Filled in information will automatically be transformed to BibTex format and stored in a database. 
      </p>
      <p>
        The website is still in development.
      </p>
      
      <h5>Create New Source</h5>
      
      <form action="/choosesource" method ="post">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton" id="book" value="book" checked="checked">
            <label class="form-check-label" for="inlineRadio1">Book</label>
        </div>
    
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton" id="article" value="article">
            <label class="form-check-label" for="inlineRadio2">Article</label>
        </div>
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton" id="in_proceedings" value="in_proceedings">
            <label class="form-check-label" for="inlineRadio3">In proceedings</label>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Choose type">
            </div>

      </form>


      {% if book  %}
      <form action="/createbook" method="post">

        <div class="form-group text-center">
          <label for="inputbook_name">Title</label>
          <input type="text" class="form-control text-center" id="inputBookTitle" name="title">
        </div>

        <div class="form-group text-center">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control text-center" id="inputAuthor" name="author">
        </div>
        
        <div class="form-group text-center">
            <label for="inputYear">Year</label>
            <input type="text" class="form-control text-center" id="inputYear" name="year">
          </div>

        <div class="form-group text-center">
          <label for="inputYear">Publisher</label>
          <input type="text" class="form-control text-center" id="inputPublisher" name="publisher">
        </div>

        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary text-center" value="Create book source">
        </div>

      </form>
      {% endif %}

      {% if article  %}
      <form action="/createarticle" method="post">
        
        <div class="form-group text-center">
          <label for="inputTitle">Article name</label>
          <input type="text" class="form-control text-center" id="inputArticleTitle" name="title">
        </div>

        <div class="form-group text-center">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control text-center" id="inputAuthorname" name="author">
        </div>

        <div class="form-group text-center">
          <label for="inputJournal">Journal</label>
          <input type="text" class="form-control text-center" id="inputJournal" name="journal">
        </div>

        <div class="form-group text-center">
            <label for="inputYear">Year</label>
            <input type="text" class="form-control text-center" id="inputYear" name="year">
          </div>

        <div class="form-group text-center">
          <label for="inputvolume">Volume</label>
          <input type="text" class="form-control text-center" id="inputVolume" name="volume">
        </div>

        <div class="form-group text-center">
          <label for="inputPages">Pages</label>
          <input type="text" class="form-control text-center" id="inputPages" name="pages">
        </div>
        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary text-center" value="Create article source">
        </div>

      </form>
      {% endif %}

      {% if in_proceedings  %}
      <form action="/createinproceedings" method="post">

        <div class="form-group text-center">
          <label for="inputbook_name">In proceeding name</label>
          <input type="text" class="form-control text-center" id="inputInProceedingName" name="title">
        </div>

        <div class="form-group text-center">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control text-center" id="inputAuthorname" name="author">
        </div>
        
        <div class="form-group text-center">
            <label for="inputYear">Year</label>
            <input type="text" class="form-control text-center" id="inputYear" name="year">
          </div>

        <div class="form-group text-center">
          <label for="inputBookTitle">Booktitle</label>
          <input type="text" class="form-control text-center" id="inputBooktitle" name="booktitle">
        </div>

        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary text-center" value="Create in proceedings source">
        </div>

      </form>
      {% endif %}

      {% if message %}
        <p>{{ message }}</p>
      {% endif %}


      
    </div>
  </div>
</div>
{% endblock %}