{% extends "layout.html" %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <h1>References</h1>
      <p>
        Here you can see all currently stored references.
      </p>
      <div class="text-center">

        <h5>Search</h5>
    
        <form action="/search" method="post">
    
          <div class="form-group text-center">
            <label for="input">Search with this form</label>
            <input type="text" class="form-control" id="input_keyword" name="keyword">
          </div>
    
          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Search">
          </div>
    
        </form>

      <h5>Or choose what references to display</h5>
      <form action="/display_references" method="post">

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radiobutton" id="all" value="all" checked="checked">
          <label class="form-check-label" for="inlineRadio1">All references</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radiobutton" id="bibitex" value="bibitext">
          <label class="form-check-label" for="inlineRadio2">BibTeX only</label>
        </div>

        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary" value="choose type">
        </div>


      </form>
      
      {% if all %}
      {% if books %}

      <h3>Books</h3>
      <ul class="col-12 text-center">
        {% for book in books %}
        <h5>Title: {{ book.title }}</h5>
        <ul>
          <li>Author: {{ book.author }}</li>
          <li>Year: {{ book.year }}</li>
          <li>Publisher: {{ book.publisher }}</li>
          <p>
            Bibitex:
            <pre>{{ book.bibitex }}</pre>
          </p>

        </ul>
        {% endfor %}
      </ul>
      {% endif %}

      
      {% if articles %}
      <h3>Articles</h3>
      <ul class="col-12 text-center">
        {% for article in articles %}
        <h5>Title: {{ article.title }}</h5>
        <ul>
          <li>Author: {{ article.author }}</li>
          <li>Year: {{ article.year }}</li>
          <li>Journal: {{ article.journal }}</li>
          <li>Volume: {{ article.volume }}</li>
          <li>Pages: {{ article.pages }}</li>
          <p>
            Bibitex:
            <pre>{{ article.bibitex }}</pre>
          </p>

        </ul>
        {% endfor %}
      </ul>
      {% endif %}

      {% if in_proceedings %}
      <h3>In proceedings</h3>
      <ul class="col-12 text-center">
        {% for in_proceeding in in_proceedings %}
        <h5>Title: {{ in_proceeding.title }}</h5>
        <ul>
          <li>Author: {{ in_proceeding.author }}</li>
          <li>Year: {{ in_proceeding.year }}</li>
          <li>Booktitle: {{ in_proceeding.booktitle }}</li>
          <p>
            Bibitex:
            <pre>{{ in_proceeding.bibitex }}</pre>
          </p>

        </ul>
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}

      {% if bibitex %}
      <div class="form-group text-center">
        <input type="submit" class="btn btn-primary" onclick=copyToClipboard() value="copy this bibtex?">
      </div>

      {% if books %}
      <ul class="col-12 text-ceter">
        {% for book in books %}
        <ul class="text-center">
          <pre id="bok-to-copy">{{ book.bibitex }}</pre>
        </ul>
        {% endfor %}
      </ul>
      {% endif %}

      
      {% if articles %}
      <ul class="col-12 text-ceter">
        {% for article in articles %}
        <ul class="text-center">
          <pre id="art-to-copy">{{ article.bibitex }}</pre>
        </ul>
        {% endfor %}
      </ul>
      {% endif %}

      {% if in_proceedings %}
      <ul class="col-12 text-ceter">
        {% for in_proceeding in in_proceedings %}
        <ul class="text-center">
          <pre id="inp-to-copy">{{ in_proceeding.bibitex }}</pre>
        </ul>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
      {% endif %}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    </div>
  </div>
</div>


  </div>
</div>

<script>
  // author juuso s
  // huomioikaa että tämä ensimmäinen js mitä työstän
  
    function copyToClipboard() {
  
      // näillä if statementeillä koitin väistää tilannetta jossa jokin kenttä puuttuu
      var all = '';
      if (document.getElementById("bok-to-copy") != null)
        var bok = document.getElementById("bok-to-copy").innerText
        var all = all + bok;
      if (document.getElementById("art-to-copy") != null)
        var art = document.getElementById("art-to-copy").innerText
        var all = all + art;
      if (document.getElementById("inp-to-copy") != null)
        var inp = document.getElementById("inp-to-copy").innerText
        var all = all + inp;
  
      var tempTextArea = document.createElement("textarea");
  
      tempTextArea.value = all;
  
      document.body.appendChild(tempTextArea);
  
      tempTextArea.select();
  
      document.execCommand("copy");
  
  
      document.body.removeChild(tempTextArea);
    }
</script>

{% endblock %}