name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Install Poetry
      run: pip install poetry
    - name: Install dependencies
      run: poetry install
    - name: Run tests
      run: poetry run coverage run --branch -m pytest
      env:
        DATABASE_URL: postgresql://postgres:postgres@localhost/postgres
    - name: Coverage report
      run: poetry run coverage xml
    - name: Coverage report to Codecov
      run: bash <(curl -s https://codecov.io/bash)
    - name: Pylint test
      run: poetry run pylint src
    - name: Setup chromedriver
      uses: nanasess/setup-chromedriver@master
    - name: Configure chromedriver
      run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
    #- name: Run robot tests
    #  run: bash run_robot_tests.sh
    #  env:
    #    DATABASE_URL: postgresql://postgres:postgres@localhost/postgres
    #    FLASK_ENV: development
